<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route frontName="lenbox" id="Lenbox_CbnxPayment">
            <module name="Lenbox_CbnxPayment"/>
        </route>
    </router>
</config>